.backlinks
  = link_to("Back to course", course_path(@hole.course))

%h2=@hole.name

.hole.info
  %p
    %strong Course:
    = @hole.course.name
  %p
    %strong Creator:
    = @hole.creator.name if @hole.creator.present?
  %p
    %strong Par:
    = @hole.par
  %p
    %strong Maximum Execution Time:
    =pluralize(@hole.maximum_execution_time, "second")    
  %p
    %strong Description:
    = display_line_breaks(@hole.description)

  %p
    %strong Sample setup:
    %pre.prettyprint= display_line_breaks(@hole.sample_test_case.setup)
  
    %strong Sample solution:
    %pre.prettyprint= display_line_breaks(@hole.sample_solution.code)
  
    %strong Sample output:
    %pre.prettyprint= display_line_breaks(@hole.sample_test_case.expected_output)



  %p
    -if user_signed_in?
      =link_to "Submit your solution", "javascript:void(0);", :class => "show_solution_submit"
      .submit.hide
        %textarea.solution
        %p.center.submit_button
          %button.add_solution Add a solution
    -else
      =link_to "Log in to submit your solution", new_user_session_path