.backlinks
  = link_to("Back to course", course_path(@hole.course))

%h2=@hole.name

.hole.info
  %p
    %strong Course:
    = @hole.course.name
  %p
    %strong Description:
    = display_line_breaks(@hole.description)
  %p
    %strong Par:
    = @hole.par
  %p
    %strong Maximum Execution Time:
    = @hole.maximum_execution_time
    second

  %p
    %strong Sample setup:
    %pre.prettyprint= display_line_breaks(@hole.sample_setup)
    
    %strong Sample solution:
    %pre.prettyprint= display_line_breaks(@hole.sample_solution)
    
    %strong Sample output:
    %pre.prettyprint= display_line_breaks(@hole.sample_output)

  %p
    %strong Creator:
    = @hole.creator.name if @hole.creator.present?

  %p
    - if @hole.cases.any?
      %strong Test Cases:
      %ul.cases
        - @hole.cases.each do |test_case|
          %li
            %p
              Active: 
              = display_yesno(test_case.active)
            = display_line_breaks(test_case.setup)
            = display_line_breaks(expected_output)

  %p
    -if user_signed_in?
      =link_to "Submit your solution", "/"
    -else
      =link_to "Log in to submit your solution", new_user_session_path