.backlinks
  = link_to("Back to index", root_path)

%h2=@course.name
.course.info
  %p
    %strong Active Dates:
    = "#{display_datetime(@course.start_at)} to #{display_datetime(@course.end_at)}"
  %p
    = display_line_breaks(@course.description)
  %p
    %strong Holes:
    %ul.holes
      - if @course.holes.any?
        - @course.holes.each do |hole|
          %li= link_to(hole.name, hole_path(hole))
