.admin
  %h1 Listing Courses

  = link_to("New Course", new_admin_course_path)

  = paginate @courses
  %table
    %tr
      %th Name
      %th Description
      %th Holes
      %th
      %th
      %th
    - if @courses.empty?
      %tr{:colspan => 6 }
        %td There are no courses in the system
    - else
      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.description
          %td= link_to(course.holes.count, admin_holes_path(:course_id => course))
          %td= link_to("Show", admin_course_path(course))
          %td= link_to("Edit", edit_admin_course_path(course))
          %td= link_to("Destroy", admin_course_path(course), :method => :delete)
