%h1=@course.name

= link_to("Back to index", admin_courses_path)
%div.content
  #courses
    %p
      %b Name:
      = @course.name
    %p
      %b Description:
      = display_line_breaks(@course.description)
    %p
      %b Active Dates:
      = "#{display_datetime(@course.start_at)} to #{display_datetime(@course.end_at)}"
    %p
      %b Holes:
      %li
        - if @course.holes.any?
          - @course.holes.each do |hole|
            %ul= link_to(hole.name, admin_hole_path(hole))
